<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List User</title>
</head>
<body>
    <h1>User List</h1>
    <h3><a th:href="@{/create}">Create new user</a></h3>
    <p th:text="${mess}"></p>
    <table>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr th:each="user, status : ${userList}">
            <td th:text="${status.count}"></td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
</body>
</html>