<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Form</title>
</head>
<body>
    <h1>Create Form</h1>
    <h3><a th:href="@{/}">Back to the list</a></h3>
    <form th:action="@{/create}" method="post" th:object="${blog}">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><input type="text" th:field="*{content}"></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><input type="text" th:field="*{author}"></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="c : ${categories}" th:value="${c.id}"><span th:text="${c.name}"></span></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button>Save</button></td>
            </tr>
        </table>
    </form>
    <p th:text="${mess}"></p>
</body>
</html>