<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
    <style>
        table {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <p th:text="${mess}"></p>
    <h3><a th:href="@{/product}">Back to product list</a></h3>
    <form th:object="${product}" method="post">
        <table>
            <tr>
                <td>ID: </td>
                <td><input th:field="*{id}"></td>
            </tr>
            <tr>
                <td>Name: </td>
                <td><input th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Price: </td>
                <td><input th:field="*{price}"></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><input th:field="*{description}"></td>
            </tr>
            <tr>
                <td>Origin: </td>
                <td><input th:field="*{origin}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button>Save</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>