<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <style>
      table {
        border: 1px solid black;
      }
    </style>
</head>
<body>
  <h1>Product List</h1>
  <p th:text="${mess}"></p>
  <h3><a th:href="@{/product/add}">Add new Product</a></h3>
  <table>
    <tr>
      <th>STT</th>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Origin</th>
      <th>Detail</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr th:each="product, status : ${productList}">
      <td th:text="${status.count}"></td>
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${product.origin}"></td>
      <td><a th:href="@{/product/detail/__${product.id}__}">Detail</a></td>
      <td><a th:href="@{/product/edit/__${product.id}__}">Edit</a></td>
      <td><a th:href="@{/product/delete/__${product.id}__}">Delete</a></td>
    </tr>
  </table>
</body>
</html>