<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Borrowing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1>Borrow</h1>
    <form th:object="${loanCard}" method="post">
        <table>
            <tr hidden="hidden">
                <td>ID: </td>
                <td><input type="text" th:field="*{id}"></td>
            </tr>
            <tr>
                <td>Book: </td>
                <td><input type="text" name="bookName" th:value="${borrowBook.name}" readonly></td>
            </tr>
            <tr>
                <td>Student: </td>
                <td>
                    <select th:field="*{student.id}">
                        <option th:each="s : ${studentList}" th:value="${s.id}">
                            <span th:text="${s.name}"></span>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-primary">Submit</button></td>
            </tr>
        </table>
    </form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>