<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <h1>Detail</h1>
    <h3><a th:href="@{/}">Back to the list</a></h3>
    <table>
      <tr>
          <td>ID:</td>
          <td th:text="${blog.id}"></td>
      </tr>
      <tr>
          <td>Title:</td>
          <td th:text="${blog.title}"></td>
      </tr>
      <tr>
          <td>Content:</td>
          <td th:text="${blog.content}"></td>
      </tr>
      <tr>
          <td>Author:</td>
          <td th:text="${blog.author}"></td>
      </tr>
      <tr>
          <td>Create At:</td>
          <td th:text="${blog.createAt}"></td>
      </tr>
    </table>
</body>
</html>