<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">MyBlog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <div class="container">
                <!-- Blog posts -->
                <div class="row">
                    <div class="col-md-8">
                        <!-- Blog post -->
                        <div th:each="blog: ${blogList}">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h2 class="card-title" th:text="${blog.title}"></h2>
                                    <p class="card-text" th:if="${blog.content.length()} > 50">
                                        <span th:text="${blog.content.substring(0, 50)} + '...'"></span>
                                    </p>
                                    <p class="card-text" th:unless="${blog.content.length()} > 50">
                                        <span th:text="${blog.content}"></span>
                                    </p>
                                    <p class="card-subtitle text-muted mb-2">
                                        <i class="fas fa-user author-icon"></i>
                                        <span th:text="${blog.author}"></span>
                                    </p>
                                    <p class="card-subtitle text-muted">
                                        <i class="fas fa-briefcase position-icon"></i>
                                        <span th:text="${blog.createAt}"></span>
                                    </p>
                                    <a href="#" class="btn btn-primary" th:href="@{/detail/__${blog.id}__}">Read More</a>
                                    <span class="float-right">
                                      <a href="#" class="edit-icon" title="Edit" th:href="@{/edit/__${blog.id}__}"><i class="fas fa-edit"></i></a>
                                      <a href="#" class="delete-icon" title="Delete" th:href="@{/delete/__${blog.id}__}"><i class="fas fa-trash"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Add more blog posts here -->
                    </div>

                    <div class="col-md-4">
                        <!-- Add new post button -->
                        <div class="mt-4">
                            <a href="#" class="btn btn-success btn-block" th:href="@{/create}">Add New Post</a>
                        </div>

                        <!-- Sidebar content -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <p th:text="${mess}"></p>
                                </h5>
                                <!-- Add sidebar content here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>
</html>