<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{/fragment/navbar :: navbar}"></div>

        <h1>Update</h1>
        <form method="post" th:object="${employee}" class="col col-md-4">
            <div class="mb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" th:id="name" th:name="name" th:value="${employee.name}">
            </div>
            <div class="mb-2">
                <label class="form-label">Id Card</label>
                <input type="number" class="form-control" th:id="idCard" th:name="idCard" th:value="${employee.idCard}">
            </div>
            <div class="mb-2">
                <label class="form-label">Birthday</label>
                <input type="date" class="form-control" th:id="birthday" th:name="birthday" th:value="${employee.birthday}">
            </div>
            <div class="mb-2">
                <label class="form-label">Phone</label>
                <input type="number" class="form-control" th:id="phone" th:name="phone" th:value="${employee.phone}">
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" th:id="email" th:name="email" th:value="${employee.email}">
            </div>
            <div class="mb-2">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" th:id="address" th:name="address" th:value="${employee.address}">
            </div>
            <div class="mb-2">
                <label class="form-label">Salary</label>
                <input type="number" class="form-control" th:id="salary" th:name="salary" th:value="${employee.salary}">
            </div>
            <div class="mb-2">
                <label class="form-label">Education Degree</label>
                <select class="form-select" th:field="*{educationDegree}">
                    <option th:each="e : ${educationDegrees}" th:value="${e.id}" th:text="${e.name}"></option>
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">Division</label>
                <select class="form-select" th:field="*{division}">
                    <option th:each="d : ${divisions}" th:value="${d.id}" th:text="${d.name}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Position</label>
                <select class="form-select" th:field="*{position}">
                    <option th:each="p : ${positions}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
</html>